[global]
default = http://git-server
private_token = LssRnHk8PuZgB35c2SJ5
ssl_verify = false
timeout = 5
api_version = 3

[somewhere]
url = http://git-server
private_token = LssRnHk8PuZgB35c2SJ5
api_version = 4

[elsewhere]
url = http://git-server
private_token = LssRnHk8PuZgB35c2SJ5
timeout = 1